* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.headmust {
    height: 110px;
    display: flex;
    align-items: center;
    
    margin-left: 40px;
    margin-right:60px;

}

a{
    text-decoration: none;
    color:black;
    font-size:30px;
}
a:hover{
    text-decoration: underline;
}
.car-head{
    text-decoration: none;

    color:black;
    font-size: 50px;
}

.cars{
    width:230px;
    height:230px;
    margin-right:30px;
    border-radius: 20px;
    

}

.cars-info{    
    width:265px;
    height:420px;
    position:relative;
    display:inline-flex;
    left:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right:50px;
    margin-bottom:30px;
    border-radius: 20px;
    padding-top:20px;
    padding-left:15px;
}
.info{
    left:150px;
}


.name{
    width:400px;
}

h3{
    color:green
}

.Comfort{
    color:yellow;
    background-color: purple;
    display:inline;
    padding:10px;
    border-radius: 8px;
}

.Ultimate-Luxury{
    color:gold;
    background-color: red;
    display:inline;
    padding:10px;
    border-radius: 8px;
    font-weight: 700;
}

.Sports{
    color:cyan;
    background-color: black;
    display:inline;
    padding:10px;
    border-radius: 8px;
}


.heading{
    position: relative;
    left:70px;
    right:70px;
    padding-top:70px;
    padding-bottom:50px;
    font-size:33px;
}

.det-Img{
    width:500px;
    height:500px;
    border-radius: 20px;

}

.car-data{
    display:flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


}

.info-det{
    width:500px;
    Font-family: Inter;
Font-style: Medium
}

.rent{
    margin-top:40px;
    width:500px;
    height:50px;
    Font-family: Inter;
Font-style: Bold;
font-size:20px;
background-color: #FF8C38;
color:white;
border-radius:6px;
box-shadow: 2px 2px 4px #000000;
}

.home-car{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.95;
    display:flex;

    
}

.home-heading{
    color:white;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);

    
}

.home-major{
    display:flex;
    position:relative;
    align-items: center;
    flex-direction: column;


}

.home-info{
    width: 500px;
    color:cyan;
    text-shadow: 2px 2px 4px #000000
}

.box-element{
    width:250px;
    height:400px;
}
