* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    justify-content: center;
}
a{
    padding-right:300px;
    text-decoration: none;
    font-size:30px;
    color:black;
}

.car-head{
    text-decoration: none;
    color:black;
    font-size: 40px;
}